* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body {
color: rgb(11, 11, 66);
}

/* Login Page */

.main-container {
display: flex;
flex-direction: column;
margin: auto;
justify-content: center;
align-items: center;
margin-top: 5%;
gap: 50px;
}

.welcome {
display: flex;
flex-direction: column;
gap: 10px;
text-align: center;
margin-top: 15px;
font-size: 30px;
}

.page-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.login, .register {
display: flex;
flex-direction: column;
gap: 20px;
padding: 30px;
width: 300px;
height: fit-content;
background-color: rgb(11, 11, 66);
justify-content: center;
border-radius: 20px;
text-align: center;
}

.login, .register > h2{
    color: white;
    font-size: 20px;
}

input{
font-size: 15px;
padding: 5px;
border-radius: 10px;
border: 2px lightgrey solid;
background-color: lightgrey
}

button {
font-size: 15px;
font-weight: bold;
padding: 5px;
border-radius: 10px;
cursor: pointer;
color: rgb(11, 11, 66);
background-color: white;
border: 2px white solid;
}

button:hover {
color: white;
background-color: rgb(11, 11, 66);
}


/* Landing Page */


.landing-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content {
    display: flex;
    justify-content: center;
    width: 80%;
}

.header {
    background-color: rgb(11, 11, 66);
    color: white;
    width: 100%;
    height: 120px;
    text-align: center;
    display: flex;
    align-items: center;
}

.header > p {
    font-size: 40px;
    width: 85%;
}

.fav-btn {
    float: right;
    margin-right: 100px;
    font-size: 20px;
    padding: 8px;
    height: fit-content;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.category {
    width: 80%;
    color: white;
    background-color: rgb(11, 11, 66);
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(11, 11, 66);
}

.select-cat {
    padding: 10px;
}

.category:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid rgb(11, 11, 66);
    color: rgb(11, 11, 66);
}

.item {
    display: flex;
    border: 2px solid rgb(11, 11, 66);
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
}

.item_name {
    width: 60%;
}

.item_price {
    width: 30%;
}

i {
    cursor: pointer;
}

/* Favorites Page */

/* .item_category {
    width: 20%;
} */

.remove > button {
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    padding: 3px;
    cursor: pointer;
    color: rgb(11, 11, 66);
    background-color: white;
    border: 1px white solid;
}

.remove > button:hover {
    color: white;
    background-color: rgb(11, 11, 66);
    }

@media only screen and (max-width: 600px) {
    .fav-btn {
        margin-right: 20px;
    }

    .content {
        flex-direction: column;
        gap: 25px;
        width: 90%;
    }

    .categories {
        flex-direction: row;
        gap: 8px;
    }

    .category {
        width: fit-content;
    }

    .header > p {
        font-size: 30px;
    }
}